*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#stopwatch{
    font-size: 5rem;
}

.btn{
    font-size: 2rem;
    border-radius: 2rem;
    background-color: white;
    padding: 1rem 1rem;
    color: black;
    width: 10rem;
}


@media (max-width:505px) {


.buttons{
    padding: 2rem 2rem;
}



}
@media (max-width:505px) {


    .btn{
      margin: .5rem 1rem 1rem 3rem;
     
    }
    
    
    
    }
